:root {
  /* Primary */
  --red-400: hsl(0, 100%, 74%);
  --green-400: hsl(154, 59%, 51%);

  /* Accent */
  --purple-700: hsl(248, 32%, 49%);

  /* Neutral */
  --gray-900: hsl(249, 10%, 26%);
  --purple-350: hsl(246, 25%, 77%);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

/* Mobile Design */
@media screen and (min-width: 320px) and (max-width: 768px) {
  body {
    background-image: url("/images/bg-intro-mobile.png");
    background-color: var(--red-400);
    background-size: contain;
    background-position: center;
  }

  #app {
    width: 280px;
    margin: auto;
  }

  h1 {
    color: white;
    text-align: center;
    margin-top: 48px;
  }

  .intro-card > p {
    color: white;
    text-align: center;
    font-size: 0.875em;
    margin-top: 24px;
    margin-bottom: 32px;
  }

  .free-trial {
    background-color: var(--purple-700);
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin-bottom: 16px;
    box-shadow: 0px 4px hsla(249, 10%, 26%, 0.4);
  }

  .free-trial > p {
    color: white;
    font-size: 0.875em;
    text-align: center;
    width: 60%;
  }

  .form {
    background-color: white;
    border-radius: 12px;
    padding-top: 24px;
    padding-bottom: 24px;
    box-shadow: 0px 4px hsla(249, 10%, 26%, 0.4);
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-field {
    width: 90%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin-bottom: 16px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 40px;
    font-weight: 700;
    padding-left: 8px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--purple-350);
  }

  .error-icon {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
    position: relative;
    right: -12px;
    width: 16px;
    height: 16px;
    display: none;
  }

  .error-message {
    text-align: right;
    color: var(--red-400);
    font-size: 0.6em;
    width: 90%;
    margin-bottom: 12px;
    margin-top: -16px;
    display: none;
  }

  input[type="submit"] {
    background-color: var(--green-400);
    width: 90%;
    height: 40px;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 700;
    margin-bottom: 8px;
    box-shadow: 0px 4px hsl(154, 56%, 44%);
  }

  .agreement {
    color: var(--purple-350);
    text-align: center;
    font-size: 0.6em;
    width: 75%;
    margin: auto;
  }

  .agreement > b {
    color: var(--red-400);
  }

  footer {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 32px;
  }

  footer > p {
    color: var(--gray-900);
    font-size: 0.6em;
  }

  footer a,
  footer a:visited {
    text-decoration: none;
    font-weight: 700;
    color: var(--gray-900);
  }
}

/* Desktop Design */
@media screen and (min-width: 769px) {
  html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  body {
    background-image: url("/images/bg-intro-desktop.png");
    background-color: var(--red-400);
    background-size: contain;
    background-position: center;
  }

  #app {
    width: 720px;
  }

  main {
    display: grid;
    grid-template-columns: 55% 45%;
  }

  .intro-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    color: white;
    font-size: xx-large;
    line-height: 1.2;
    margin-bottom: 24px;
  }

  .intro-card > p {
    color: white;
    font-size: 0.75em;
  }

  .free-trial {
    background-color: var(--purple-700);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 4px hsla(249, 10%, 26%, 0.4);
    margin-bottom: 16px;
  }

  .free-trial > p {
    color: white;
    font-size: 0.75em;
  }

  .form {
    background-color: white;
    border-radius: 8px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  form {
    display: grid;
    width: 85%;
    margin: auto;
  }

  .input-field {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }

  input[type="text"], input[type="email"], input[type="password"] {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 40px;
    font-weight: 700;
    padding-left: 8px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--purple-350);
  }

  .error-icon {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
    position: relative;
    right: -16px;
    width: 16px;
    height: 16px;
    display: none;
  }

  .error-message {
    text-align: right;
    color: var(--red-400);
    font-size: 0.6em;
    margin-bottom: 12px;
    visibility: hidden;
  }

  input[type="submit"] {
    background-color: var(--green-400);
    height: 40px;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 700;
    margin-bottom: 8px;
    box-shadow: 0px 4px hsl(154, 56%, 44%);
  }

  input[type="submit"]:hover {
    cursor: pointer;
  }

  .agreement {
    color: var(--purple-350);
    text-align: center;
    font-size: 0.45em;
  }

  .agreement > b {
    color: var(--red-400);
  }

  footer {
    text-align: center;
    margin-top: 16px;
  }

  footer > p {
    color: var(--gray-900);
    font-size: 0.6em;
  }

  footer a, footer a:visited {
    text-decoration: none;
    font-weight: 700;
    color: var(--gray-900);
  }
}
